.image {
    margin-left: 400px;
    margin-right: 0px;

  
}



button[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 450px;
    margin-bottom: 10px;
  }
  
  button[type=submit]:hover {
    background-color: white;
    color: black;
  }

  .content .show {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }

 